body{
    background-image: url(../assets/d654f0fc5a030d282713f806a776f82b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.divContenedor{
background-color: rgb(41, 41, 41);
}

.divTitlesPrincipal{
    background-color: rgba(110, 108, 108, 0.671);
}

.divTitle{
    background-color: rgb(41, 41, 41); ;
}

h1{
    color:rgb(153, 17, 17);
}

.divTitlesPrincipal h1 {
    margin:0;
    color:rgb(153, 17, 17);
    font-family:"Poppins",sans-serif;
    font-size:4.5em;
    font-weight:900;
    letter-spacing:-.05em;
}
.divTitlesPrincipal h2 {
    margin:25px 0;
    color:black;
    font-family:"Poppins",sans-serif;
    font-size:25px;
}

.divTitlesPrincipal h3 {
    margin:0;
    color:black;
    font-family:"Montserrat",sans-serif;
    font-size:15px;
    text-transform:uppercase;
    padding:10px 0;
}

label{
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}


/* ::backdrop rgb(64, 129, 99) */